<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <p>Hej, [user.FirstName]</p><p>
        Detta mail har skickats eftersom du begärt att återställa ditt lösenord.</br>
        Har du inte begärt att återställa ditt lösenord bortse då från detta mail.
    </p>
    <button><a href=[resetTokenUrl]>Återställ lösenord</a></button></br>
    <small>Eller kopiera länken nedan och klistra in i din webbläsare</small>
    <p>[resetTokenUrl]</p>
</body>
</html>