<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body style="font-family: sans-serif;">
    <p>Hej [user.FirstName],</p><p>
        Detta mail har skickats eftersom du begärt att återställa ditt lösenord.<br>
        Har du inte begärt att återställa ditt lösenord bortse då från detta mail.
    </p>
    <a style="background-color: rgb(74, 70, 70); color: rgb(255, 255, 255); padding: 5px 15px; text-decoration: none;
    border-style: groove; border-color: black; border-width: 1px; border-radius: 2px; "
       href=[resetTokenUrl]>Återställ lösenord</a><br><br>
    <small>Eller kopiera länken nedan och klistra in i din webbläsare</small>
    <p>[resetTokenUrl]</p>
</body>
</html>