.mqtt-connect-content {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: 20px 40px;
}

.mqtt-connect-content p {
    text-align: left;
}

.mqtt-connect-content form {
        display: block;
        align-items: center;
        justify-items: center;
        background-color: white;
        border-radius: 10px;
        padding: 30px 60px 30px 60px;
        border-left: 1px solid rgb(218, 217, 217);
        border-right: 1px solid rgb(218, 217, 217);
        border-bottom: 2px solid rgb(202, 202, 202);
}

.mqtt-connect-content .button-container {
    display: flex;
    gap: 15px;
}